<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <title>Food Blog - Change Password</title>
	<meta charset="UTF-8">
	<meta name="description" content="Food Blog Web Template">
	<meta name="keywords" content="food, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'Recipes4Foodies/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'Recipes4Foodies/css/loginstyle.css' %}" rel="stylesheet" id="bootstrap-css">


<script>

function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;
		if( timer > 0){
			timer = timer - 1;
		}
        if (timer == 0) {
			document.getElementById("btn_resend_otp").style.visibility = "visible";
			document.getElementById("change_password_1").disabled = true;
			document.getElementById("change_password_2").disabled = true;
			document.getElementById("change_password_3").disabled = true;
			document.getElementById("change_password_4").disabled = true;
			document.getElementById("change_password_5").style.visibility = "hidden";
			var div = document.getElementById("change_password_5");
			div.parentNode.removeChild(div);
        }
    }, 1000);
}

window.onload = function () {
    var Minutes = 60 * 1,
        display = document.querySelector('#time');
    startTimer(Minutes, display);
};

</script>


</head>
<body>

<div class="login-reg-panel">
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Join now</p>
			<label id="label-login" for="log-login-show">
				<a href="{% url 'register' %}">Register</a>
			</label>
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>CHANGE PASSWORD</h2>
                <form action={% url 'forget_password_otp' %} method="POST">
				{% csrf_token %}
				<input id="change_password_1" type="hidden" name="email" value="{{email}}" >
				<input id="change_password_2" type="number" placeholder="OTP" name="otp" required>
				<input id="change_password_3" type="password" placeholder="Password" name="new_password" required>
				<input id="change_password_4" type="password" placeholder="Confirm Password" name="confirm_password" required>
                <input id="change_password_5" type="submit" value="SUBMIT">
                </form>

				<form action={% url 'resend_otp' %} method="POST">
				{% csrf_token %}
				<input type="hidden" name="email" value="{{email}}" >
				<input type="submit" id="btn_resend_otp" style="visibility: hidden" value="RESEND OTP">
				</form>

			</div>
			{% if success_message %}
			<div class="alert alert-success" role="alert">
				{{success_message}}<br>
				Resend OTP in <span id="time">01:00</span> minutes!
			</div>
			{% endif %}
			{% if error_message %}
			<div class="alert alert-danger" role="alert">
				{{error_message}}<br>
				Resend OTP in <span id="time">01:00</span> minutes!
			</div>
			{% endif %}

		</div>
</div>

<body>
</html>