<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <title>Food Blog - Register</title>
	<meta charset="UTF-8">
	<meta name="description" content="Food Blog Web Template">
	<meta name="keywords" content="food, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'Recipes4Foodies/img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'Recipes4Foodies/css/loginstyle.css' %}" rel="stylesheet" id="bootstrap-css">

</head>
<body>

<div class="login-reg-panel">
							
		<div class="register-info-box">
			<h2>Have an account?</h2>
			<p>Login now</p>
			<label id="label-login" for="log-login-show">
				<a href="{% url 'login' %}">Login</a>
			</label>
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>REGISTER</h2>
                <form action={% url 'register_user' %} method="POST">
				{% csrf_token %}
                <input type="text" placeholder="Username" name="username" required>
				<input type="email" placeholder="Email" name="email" required>
				<input type="password" placeholder="Password" name="password" required>
				<a></a>
				<input type="submit" value="Register">
                </form>	
			</div>
			{% if error_message %}
			<div class="alert alert-danger" role="alert">{{error_message}}</div>
			{% endif %}
		</div>
</div>

</body>
</html>